<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>URL Shortener API Client</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="public/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="public/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="public/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="public/favicon/site.webmanifest" />
        <link rel="stylesheet" type="text/css" href="public/css/styles.css" />
        <script defer type="module" src="public/js/app.js"></script>
        <script defer type="module" src="public/js/actions.js"></script>
    </head>
    <body>
        <h1>URL Shortener API Client</h1>

        <div class="action-items">
            <button data-action="create" class="selected">Create</button>
            <button data-action="retrieve">Retrieve</button>
            <button data-action="update">Update</button>
            <button data-action="delete">Delete</button>
            <button data-action="stats">Stats</button>
        </div>

        <section class="create action-wrapper">
            <h2>Create a Short URL</h2>
            <form method="post">
                <input
                    type="text"
                    name="long_url"
                    placeholder="Enter a long URL"
                />
                <input type="submit" value="Submit" />
            </form>
            <p class="invalid-url-message">Invalid URL.</p>
        </section>

        <section class="retrieve action-wrapper hide">
            <h2>Retrieve a Full URL</h2>
            <p>
                In your browser's address bar, append your shortcode to the the
                domain:
                <strong
                    ><span style="color: #1aff89"
                        >localhost:8000/your-shortcode</span
                    ></strong
                >
            </p>
        </section>

        <section class="update action-wrapper hide">
            <h2>Update a Short URL</h2>
        </section>

        <section class="delete action-wrapper hide">
            <h2>Delete a Short URL</h2>
        </section>

        <section class="stats action-wrapper hide">
            <h2>Get Statistics for a Short URL</h2>
        </section>

        <!-- <section class="get-url-wrapper action-wrapper">
                    <h2>Retrieve Full URL</h2>
                    <form method="get" action="/shorten">
                        <input type="text" name="shortcode" placeholder="Enter Shortcode">
                        <input type="submit" value="Retrieve Long URL">
                    </form>
                </section> -->
    </body>
</html>
