*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --green: #1aff89;
    --red: #fa5959;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    color: #ffffff;
    background-color: #1e1c1c;
    padding-inline: 2.5em;
}

h1 {
    font-size: 2.6rem;
    width: fit-content;
    padding-bottom: 0.25em;
    margin-bottom: 0.5rem;
}

a {
    color: var(--green);
}

div.grid {
    display: grid;
    grid-template-columns: 10% 86.5%;
    gap: 3.5%;
}

.action-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
    gap: 1.25rem;
    margin-top: 0.5rem;
    border-right: dashed 3px #454545;
}

.action-tabs button {
    color: #ffffff;
    font-size: 1.45rem;
    font-weight: 500;
    padding: 0.8em 1em;
    padding-left: 1em;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.action-tabs button.selected {
    color: var(--green);
    &::after {
        --size: 9px;
        position: absolute;
        content: "";
        min-height: var(--size);
        width: var(--size);
        border-radius: 50%;
        background-color: var(--green);
        bottom: 50%;
        left: -5px;
        transform: translate(50%, 50%);
    }
}
